* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

div {
  height: 25vh;
  margin-left: 10px;
}

body {
  background-color: silver;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 15px;
  background: #eee;
  font-size: 30px;
  transition: 0.5s;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}
span {
  cursor: pointer;
}
/* input {
  height: 20vh;
  width: 50vw;
} */

/* text {
  height: 20vh;
  width: 50vw;
} */
